<h1><%= article.title %>
<br>
<small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />


<h2>Reader Comments</h2>
<% article.comments.forEach(comment => { %>
  <p><%= comment.content%></p>
  <p><strong>Written by <%= comment.name%></strong></p>
<% }) %> 

<hr />

<h2>Post a Comment</h2>
<form class="blogComment" action="/articles/comment/<%= article.id %>" method="POST">
  <input type="text" placeholder="Your name" name="name">
  <input type="text" placeholder="Write comment" name="content">
  <br>
  <br>
  <input type="submit" value="Add comment">
</form>

<hr />

<a href="/">&larr; Back Home</a>